# This is an example of the environment variables required for the project
# DO NOT ADD YOUR REAL PASSWORDS IN THIS FILE
# Copy this file to .env and fill in the values before running the backend

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
